/* General Styles */
.autorickshaw-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

.autorickshaw-description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.autorickshaw-loading {
  color: #555;
  font-size: 16px;
  text-align: center;
}

.autorickshaw-error {
  color: red;
  font-weight: bold;
  text-align: center;
}

/* Driver List */
.autorickshaw-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.autorickshaw-card {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px 20px;
  width: 90%;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.autorickshaw-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.autorickshaw-details {
  text-align: left;
}

.autorickshaw-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0px;
}

.autorickshaw-phone {
  font-size: 14px;
  color: #555;
  margin: 5px 0 0 0;
}

/* Shapes Container */
.shapes-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Circle Shape */
.circle-shape {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Triangle Shape */
.triangle-shape {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid orange;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
